@media (min-width: 768px) {
  .nav-link{
    /* (80px - line-height of 27px) / 2 = 26.5px */
    margin-left: 20px;
  }
  .navbar{
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 894px) {
    .navbar-brand {
        position: center;
    }
  }